* {
	margin: 0;
	padding: 0;
	color: #042a56;
	text-decoration: none;
	list-style: none;
}

/*universal code*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Libre Baskerville', serif;
}

p {
	font-family: 'Dosis', sans-serif;
}

input, a {
	font-family: 'Oswald', sans-serif;
}

nav {
	font-family: 'Oswald', sans-serif;
}

a:hover{
	background: #5CA3F7;
	transition: .5s;
	border-radius: 10px;
	text-decoration: none;
}

input[type=submit] {
	color: #fff;
	background-color: #042a56;
	padding: 5px 10px;
	border-radius: 10px;
}

input[type=submit]:hover {
	background: #5CA3F7;
	transition: .5s;
}

section {
	height: calc (100vh 0);
}

/*landing page*/
.back-img {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/landing.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	position: absolute;
	width: 100%;
	height: 100%;
}

.back-img {
	opacity: .70;
}

.background-txt {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	text-align: center;
}

.background-txt h1, .background-txt h4, .background-txt p {
	font-weight: bold;
}

.background-txt h1 {
	font-size: 4.5rem;
}

.background-txt h4 {
	font-size: 2em;
}

.background-txt p {
	font-size: 1.5em;
	margin: auto;
	width: 40%;
	padding: 50px 0;	
}

.background-txt a {
	color: #fff;
	background-color: #4974a5;
	padding: 10px 25px;
	border-radius: 10px
}

.background-txt a:hover {
	background-color: #5CA3F7;
	transition: .5s;
}

section {
	height: calc (100vh 0);
}

/*navbar, header & footer*/
header, footer {
	line-height: 50px;
	background-color: #042a56;
	opacity: .50;
}

.navbar nav {
 	height: 100px;
 	width: 100%;
 	background-color: #042a56;
}

.fa-bars {
	color: #ffffff;
}

.navbar label.logo {
	font-family: 'Libre Baskerville', serif;
 	font-size: 30px;
 	padding: 10px 25px;
 	text-align: center;
 	color: #ffffff;
}

.navbar span {
	font-family: 'Libre Baskerville', serif;
 	font-size: 50px;
 	margin-top: 10px;
 	text-align: center;
 	color: #ffffff;
}

.navbar ul {
	line-height: 20px;
}

.navbar li {
	display: inline-block;
	margin: 0 5px;
}

.navbar a {
	display: block;
	font-size: 18px;
	padding: 10px 10px;
	color: #ffffff;
}

#demo {
	border: 3px solid #ffffff;
	border-radius: 10px;
}

footer {
	color: #ffffff;
	margin-top: 40px;
	text-align: center;
}

#goback {
	position: fixed;
	bottom: 10px;
	right: 25px;
}

/*home page - section*/
.banner {
	background-image: url(../images/banner.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}

.banner .container h2 {
	margin: auto;
	width: 80%;
	text-align: center;
}

#quote-h2 q::before {
	content: "\201c";
	font-size: 100px;
	position: absolute;
	margin: -25px -50px;
}

#quote-h2 q::after {
	content: "\201d";
	font-size: 100px;
	position: absolute;
	margin: -10px 5px;
}

.content p  {
	margin: auto;
	padding: 40px 0 10px;
	text-align: center;
}

.content p  {
	width: 50%;
}

.col-details {
	padding: 15px;
}
.col-details h3 {
	font-size: 20px;
}

.col-details p {
	font-size: 12px;
	margin: auto;
	width: 50%;
	padding: 0;
}

.col-details img {
	width: 50px;
	height: auto;
	padding-bottom: 10px;
}

.col-details a.preview:hover {
	background-color: #ffffff;
}

/*about-page*/
.about-page h3, .about-page p, .about-page ul {
	margin: auto;
	width: 60%;
	padding: 40px 0 5px;
}

.about-page li {
	font-family: 'Dosis', sans-serif;
}

/*contactus-page*/
.getintouch {
	margin-top: 15%;
	width: 75%;
	border: 2px solid #042a56;
	border-radius: 5px;
	text-align: center;
	padding: 15px;
}

.contact {
	margin-top: 40px;
	width: 75%
}

.contact i{
	margin-bottom: 16px;
}

.contact #url:hover {
	background: unset;
}

/*gallery-page*/
.team-image h2 {
	margin: auto;
	width: 100%;
	text-align: center;
	margin: 40px 0 20px 0;
}

.col-officers h3 {
	text-align: center;
	padding: 10px 0 0 0;
}
.col-officers p{
	text-align: center;
}

.col-officers img, .col-team img, .col-socials img {
	width: 100%;
	height: auto;
}

.col-officers img {
	margin-top: 0;
}

.col-team img, .col-socials img {
	padding-bottom: 25px;
}

/*form*/
.demo-form, .login-form {
	margin: 75px auto 0 auto;
	padding: 25px 25px;
	border: 3px solid #042a56;
	border-radius: 10px;
	background-color: #ffffff;
	width: 35%;
	text-align: center;
	line-height: 15px;
}

/*responsive design*/
@media only screen and (max-width: 320px) {
	.navbar label.logo {
 	padding: 10px 15px;
	}

	.background-txt {
		font-size: 3vw;
	}

	.background-txt h1 {
		font-size: 6em;
	}

	.navbar a {
		display: block;
		text-align: center;
	}

	#demo {
		border: none;
	}

	.getintouch , .contact {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}

	.contact iframe {
		width: 250px;
		height: 150px;
	}

	.demo-form, .login-form {
    	width: 80%;
	}
	
	.demo-form h2, .login-form h2 {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 600px) {
	.navbar label.logo {
 	padding: 10px 15px;
	}

	.background-txt {
		font-size: 3vw;
	}

	.background-txt h1 {
		font-size: 6em;
	}

	.navbar a {
		display: block;
		text-align: center;
	}

	#demo {
	border: none;
	}

	.banner {
		background-image: url();
	}

	.getintouch , .contact {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}

	.contact iframe {
		width: 250px;
		height: 150px;
	}

	.demo-form {
    	width: 80%;
	}

	.login-form {
		width: 80%;
	}

	.demo-form h2, .login-form h2 {
		font-size: 1.5em;
	}

}

@media only screen and (max-width: 768px) {
	.background-txt {
		font-size: 3vw;
	}

	.background-txt h1 {
		font-size: 6em;
	}

	.navbar a {
		display: block;
		text-align: center;
	}

	#demo {
	border: none;
	}

	.banner {
		background-image: url(../images/banner.png);
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
	}

	.contact iframe {
		width: 250px;
		height: 150px;
	}

}